@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: flex-start;
    background-color: #f4f4f4e1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    justify-content: center;
    align-items:center;
    padding: 5%;
}
#result-hexa{
    color: #000;
}

#start-button{
    font-family: 'Ubuntu', sans-serif;
    margin: 5%;
    padding: 10%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #6666664d
}

#start-button:hover{
    background-color: #dbdbdb;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #6666664d;
}

#result{
    background-color: rgb(207, 207, 207);
    width: 70%;
    height: 70%;
    padding: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #6666664d
}

.dark{
    background-color: #0D1117;
}

.dark #start-button{
    color: #ffffff;
    background-color: #4d4d4d;
}

.dark #start-button:hover{
    color: #ffffff;
    background-color: #858484;
}

.dark label{
    color: #ffffff;
}

.dark #result{
    background-color: #6e6e6e;
    color: #ffffff;
}

.dark #result-hexa{
    color: #ffffff;
}

.darkmode{
    margin-top: 5%;
}

.hexa{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}